/* Fonts */
@font-face {
 font-family: "Libre Baskerville";
 src: url("../vendor/google-fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf") format('truetype');
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: "Josefin Sans";
 src: url("../vendor/google-fonts/Josefin_Sans/JosefinSans-Regular.ttf") format('truetype');
 font-weight: normal;
 font-style: normal;
}


/* Background */
body {
  background-color: #6CB35D;
  color: white;
}


/* Header */
.header {
  position: relative;
  margin: 0;
}

/* Header: top page white strip */
.header .header-subtitle {
  background-color: white;
  color: black;
  font-family: "Libre Baskerville", serif;
  font-weight: italic;
  font-size: 15px;
  letter-spacing: 0;
  padding: 5px 20px;
}

.header .header-title {
  background-color: white;
  color: black;
  text-align: center;
  font-family: "Libre Baskerville", serif;
  font-weight: normal;
  font-size: 42px;
  letter-spacing: 0;
  padding: 0 0 20px;
}

/* Header: large image */
.header .banner {
  margin: 0;
}

.header .banner-image {
  width: 100%;
  height: 100%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

.header .banner-title {
  position: absolute;
  top: 46%;
  width: 100%;
  text-align: center;
  font-family: "Libre Baskerville", serif;
  font-weight: normal;
  font-size: 70px;
  letter-spacing: 4px;
}


/* Section */
.section {
  margin: 80px 0;
}

/* Section: left of divider */
.section .section-header {
  padding: 60px 20px 20px;
  text-align: center;
  border-right: 2px solid white;
}

.section .section-header .mobile-separator {
  display: none;
  border-top: 2px solid white;
  margin: 0 40px;
}

.section .section-image {
  width: 94px;
}

.section .section-title {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: "Libre Baskerville", serif;
  font-weight: normal;
  font-size: 42px;
  letter-spacing: 0;
}

.section .section-subtitle {
  font-family: "Josefin Sans", sans-serif;
  font-weight: normal;
  font-size: 19px;
  line-height: 28px;
  letter-spacing: 1;
}

/* Section: right of divider */
.section .section-body {
  padding: 60px 134px 20px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: normal;
  font-size: 19px;
  line-height: 28px;
  letter-spacing: 1;
  text-align: center;
}

.section .section-body .extra-content {
  display: none;
}

@media (min-width: 0px) and (max-width: 991px) {
  /* Header: top page white strip section */
  .header .header-subtitle {
    display: none
  }

  .header .header-title {
    font-weight: italic;
    font-size: 19px;
    text-align: left;
    padding: 10px 0 10px;
  }

  /* Header: large image */
  .header .banner-title {
    font-size: 26px;
    top: 48%;
  }


  /* Section */
  .section {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .section .section-image {
    display: none;
  }

  .section .section-header {
    border-right: none;
    padding: 10px 10px 10px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .section .section-header .mobile-separator {
    display: block;
  }

  .section .section-title {
    font-size: 20px;
  }

  .section .section-subtitle {
    padding-bottom: 10px;
    font-size: 14px;
  }

  .section .section-body {
    padding: 10px 48px 40px;
  }

  .section .section-body .extra-content {
    display: inline;
  }
}


